.containerFaq {
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  position: relative;
  background: white;
  border-radius: 24px;
  width: 90%;
}

.containerFaq::before {
  content: "";
  background: url(images/illustration-woman-online-mobile.svg) no-repeat;
  position: absolute;
  top: 0;
  left: 50%;
  width: 237px;
  height: 180px;
  transform: translate(-55%, -55%);
}

.containerFaq::after {
  content: "";
  background: url(images/bg-pattern-mobile.svg) no-repeat;
  width: 268px;
  height: 180px;
  position: absolute;
  top: 6.5rem;
  left: 50%;
  transform: translate(-45%, -53%);
}

@media screen and (max-width: 375px) {
  .containerFaq {
    margin-top: 10rem;
    margin-bottom: 10rem;
  }
}

@media screen and (min-width: 1024px) {
  .containerFaq {
    max-width: 920px;
    min-height: 509px;

    background: url(images/illustration-woman-online-desktop.svg) bottom 3.1rem
        left -5.1rem no-repeat,
      url(images/bg-pattern-desktop.svg) bottom -10rem left -36rem no-repeat;
    background-color: white;
  }

  .containerFaq::before {
    content: "";
    background: url(images/illustration-box-desktop.svg);
    width: 140px;
    height: 106px;
    top: 57%;
    left: -2.1%;
  }

  .containerFaq::after {
    display: none;
  }
}
